<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:5432/Java Servlet</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">998776</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping class="hw_37.entities.Order"/>
        <mapping class="hw_37.entities.Order"/>
    </session-factory>
</hibernate-configuration>
